<!--<table>
    <th class="gauche">
        <div class="sideBar">
            <button class="button" (click)="newChat()">+    new chat</button>
            <div class="prviousChat">
                <table>
                    <tr *ngFor="let item of dataArray.listChat">
                        <button class="btn" (click)="getChat(item)"> {{item.tag}}</button>
                    </tr>
                    
                   
                </table>
            </div>
            <hr >
            <div class="prviousChat">
                <button (click)="delete()" class="logout">Clear conversations</button>
            </div>
            <div class="prviousChat">
                <button (click)="logout()" class="logout">log out</button>
            </div>
            
        </div>
    </th>
    <th>
        <table>
            <tr>
                
                    <h2 *ngFor="let it of chat.listMessage"> {{it.message}}</h2>
               
            </tr>
            <tr>
                <th>
                    <form #user="ngForm" (ngSubmit)="send(user.value)">
                        <table>
                            <th>
                                <input  name="input" ngModel class="input">
                            </th>
                            <th>
                                <button class="send">Send</button>
                            </th>
                        </table>
                    </form>
                </th>
            </tr>
        </table>
        
        
    </th>
    
    
</table>-->
<app-nav-bar></app-nav-bar>
<div class="main">
    
</div>



